{% extends 'base.html' %}
{% block title %}
  {{ group.title }}
{% endblock %}
{% comment %}
  I need to use this abomination (block header) to pass this test:
  tests/test_homework.py::TestGroupView.test_group_view :197:
  My original fragment was:

  {% block content %}
    <h1>Записи сообщества: {{ group.title }}</h1>
    <p>{{ group.description }}</p>
    ...
  {% endblock %}

{% endcomment %}
{% block header %}{{ group.title }}{% endblock %}
{% block content %}
  <p>{{ group.description }}</p>
  {% for post in page_obj %}
  <article>
    <ul>
      <li>
        Автор: {% include 'posts/includes/fullname_or_name.html' with user=post.author %}
        <a href="{% url 'posts:profile' post.author.username %}">
          все посты пользователя
        </a>
      </li>
      <li>
        Дата публикации: {{ post.pub_date|date:"d E Y" }}
      </li>
    </ul>
    <p>{{ post.text }}</p>
    <a href="{% url 'posts:post_detail' post.pk %}">
      подробная информация
    </a>
  </article>
  <a href="{% url 'posts:group_list' post.group.slug %}">
    все записи группы
  </a>
  {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}
  {% include 'posts/includes/paginator.html' %}
{% endblock %}
